.clientes {
    padding-left: 50px;
    height: 930px;
    background: rgba(0,22,28,1);
    display: flex;
    flex-direction: column;
    color:  #fff;
 }

 .clientes__title {
    margin-top: 50px;
    width: 280px;
    font-weight: Bold;
    text-align: left;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    margin-bottom: 36px;
    font-size: 25px;
}

.clientes__img {
    width: 85%;
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: auto auto;
    box-sizing: border-box;
    justify-content: center;
}

.clientes__img__item{
    display: flex;
    justify-content: center;
    align-items: center;
}


.clientes__img__item-agua-viva img {
    width: 139px;
    height: 73px;
}


.clientes__img__item-granja-gloria img {
    width: 148px;
    height: 73px;
}

.clientes__img__item-intercast {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}

.clientes__img__item-intercast img {
    width: 274px;
    height: 75px;
}

.clientes__img__item-mineirao img {
    width: 133px;
    height: 103px;
}

.clientes__img__item-epa img {
    width: 95px;
    height: 90px;
}

.clientes__img__item-dma {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}

.clientes__img__item-dma img{
    width: 171px;
    height: 74px;
}

.clientes__img__item-tropical-tenis-club img {
    width: 148px;
    height: 92px;
}

.clientes__img__item-colegio-santana img {
    width: 132px;
    height: 112px;
}

.clientes__img__item-itambe {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}

.clientes__img__item-itambe img {
    width: 125px;
    height: 72px;
}

.clientes__img__item-patence img {
    width: 155 px;
    height: 60px;
}

.clientes__img__item-santanense img {
    width: 170px;
    height: 66px;
}

.clientes__img__item-incomfral {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}

.clientes__img__item-incomfral img {
    width: 306px;
    height: 37px;
}

@media screen and (min-width: 768px) {

    .clientes {
        padding-left: 0px;
        height: 550px;
     }

    .clientes__title {
        width: 100%;
        text-align: center;
    }

    .clientes__img {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-self: center;
    }

    .clientes__img__item-intercast img {
        margin: 0 -20px;
    }
    
}

@media screen and (min-width: 1024px) {
}