.header {
    height: 135px;
    background: rgba(0,22,28,1);
    color: #fff;
    display: flex;
    flex-direction: column;
}

.header__menu {
    display: none;
}

.header ul {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__link li{
    font-size: 17px;
    text-align: center;
    text-decoration: none;
}

.header__title {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.header__title a {
    font-family: 'Anton';
    font-size: 32px;
    font-weight: Bold;
}

.header__link-galeria {
    display: none;
}

@media screen and (min-width: 768px) {
    
    .header {
        height: 70px;
        align-items: center;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .header__title {
        grid-column: 2 / span 2;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
    
    .header__menu {
        grid-column: 1 / span 1;
        display: inline-block;
        width: 32px;
        height: 20px;
        background: url(../svg/menu.svg);
        border: 0;
        margin-left: 20px;
    }

    .header__navegacao {
        display: flex;
        flex-direction: column;
        background: rgba(0,22,28,1);
        top: 70px;
        width: 25vw;
        height: 100vh;
    
        position: absolute;
        left: -100vw;
        transition: .25s;
    }
    
    .header__navegacao--ativo {
        left: 0;
        z-index: 1;
        transition: .25s;
    }

    .header__link-item {
        height: 64px;
        color: #95999C;
        padding-left: 64px;
        display: flex;
        align-items: center;
    }

    .header__link-item a:hover {
        color: #fff;
    }
    
    
    .header__link-item--ativo {
        color: #FFFFFF;
        padding-left: 20px;
        border-left: 8px solid #FFFFFF;
    }
    
    .header ul {
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }

    .header__link-galeria {
        display: flex;
    }
    
}